In [1]:
#Πίνακας δεδομένων 
import pandas as pd
df = pd.read_csv('Untitled spreadsheet - tabula-TvT_TMM_TDoR2021_Namelist.csv')
df.columns=df.iloc[0]
df

,Name,Age,Occupa+on,Date of death,City,Country,Loca+on of death,Cause of death,Remarks,Observaciones,Sources,NaN,NaN,NaN
0,Name,Age,Occupa+on,Date of death,City,Country,Loca+on of death,Cause of death,Remarks,Observaciones,Sources,NaN,NaN,NaN
1,"Nathalia\nLe+cia Barbosa\nda Fonseca\n(“Bia"")",26,not reported,03/10/2020,Paraná,Brazil,own residence,shot,Natália was shot at least 8 times\non the afte...,Natália fue disparada al menos 8\nveces en la ...,Trans lives matter & http://portaldotossinha.c...,NaN,NaN,NaN
2,Gretell\nCeballos\nRamírez,35,not reported,03/10/2020,Mintitlán,Mexico,street,shot,It is an execution: two people\napproached and...,Es una ejecución: dos personas se\nacercaron y...,TvT partner organisation: Centro de Apoyo a la...,NaN,NaN,NaN
3,Felycya Harris,33,not reported,03/10/2020,Augusta,USA,park/public square/\nspace/market,shot,Felycya's body was found in a park\nnext to an...,El cuerpo de Felycya fue\nencontrado en un par...,HRC & https://www.pinknews.co.uk/2020/10/07/fe...,NaN,NaN,NaN
4,"Michelle\nRamos Alarcón\n(""Brenda"")",26,not reported,04/10/2020,Bolívar,Colombia,street,stabbed,Michelle's body was found in the\nstreet early...,El cuerpo de Michelle se\nencontró en la calle...,Trans lives matter & https://www.elespectador....,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,witnesses.,está buscando testigos.,NaN,NaN,NaN,NaN
7512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.them.us/story/kier-lapri-kartier-b...,NaN,NaN,NaN
7513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,woman-5th-trans-person-killed-texas-2021,NaN,NaN,NaN
7514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.star-telegram.com/news/local/crime/,NaN,NaN,NaN
7515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,article254679642.html,NaN,NaN,NaN

In [15]:
#Δολοφονίες trans α΄τομων στις Η.Π.Α
countries = df[df.Country=='USA']
countries.head()

,Name,Age,Occupa+on,Date of death,City,Country,Loca+on of death,Cause of death,Remarks,Observaciones,Sources,NaN,NaN,NaN
3,Felycya Harris,33,not reported,03/10/2020,Augusta,USA,park/public square/\nspace/market,shot,Felycya's body was found in a park\nnext to an...,El cuerpo de Felycya fue\nencontrado en un par...,HRC & https://www.pinknews.co.uk/2020/10/07/fe...,NaN,NaN,NaN
31,DeShauna,20,not reported,07/10/2020,Shreveport,USA,own residence,shot,Louisiana apartment complex.,complejo de apartamentos de,woman-brooklyn-deshauna-smith-20-killed-in-,NaN,NaN,NaN
84,DeShauna,20,not reported,07/10/2020,Shreveport,USA,own residence,shot,Louisiana apartment complex.,complejo de apartamentos de,woman-brooklyn-deshauna-smith-20-killed-in-,NaN,NaN,NaN
147,Blackwood,29,bartender,11/10/2020,Indianapolis,USA,street,shot,"following month, Johnny",del domingo 11 de octubre. Al,https://www.advocate.com/crime/2020/10/15/,NaN,NaN,NaN
197,Blackwood,29,bartender,11/10/2020,Indianapolis,USA,street,shot,"following month, Johnny",del domingo 11 de octubre. Al,https://www.advocate.com/crime/2020/10/15/,NaN,NaN,NaN

In [16]:
#Δολοφονίες trans α΄τομων στην Βραζιλία
countries = df[df.Country=='Brazil']
countries.head()

,Name,Age,Occupa+on,Date of death,City,Country,Loca+on of death,Cause of death,Remarks,Observaciones,Sources,NaN,NaN,NaN
1,"Nathalia\nLe+cia Barbosa\nda Fonseca\n(“Bia"")",26,not reported,03/10/2020,Paraná,Brazil,own residence,shot,Natália was shot at least 8 times\non the afte...,Natália fue disparada al menos 8\nveces en la ...,Trans lives matter & http://portaldotossinha.c...,NaN,NaN,NaN
9,Paolla Bueno,17,not reported,05/10/2020,São Paulo,Brazil,own residence,stabbed,brother and her stepmother from,siete años y a su madrastra de un,2020/10/06/jovem-trans-de-17-anos-morta-a-faca...,NaN,NaN,NaN
15,Paris,42,stylist/beautician,07/10/2020,Recife,Brazil,beauty salon,shot,accepted the fact that she was a,"siempre aceptó, sin prejuicios, el",assassinada-a-tiros-dentro-de-salao-de-beleza-...,NaN,NaN,NaN
62,Paolla Bueno,17,not reported,05/10/2020,São Paulo,Brazil,own residence,stabbed,brother and her stepmother from,siete años y a su madrastra de un,2020/10/06/jovem-trans-de-17-anos-morta-a-faca...,NaN,NaN,NaN
68,Paris,42,stylist/beautician,07/10/2020,Recife,Brazil,beauty salon,shot,accepted the fact that she was a,"siempre aceptó, sin prejuicios, el",assassinada-a-tiros-dentro-de-salao-de-beleza-...,NaN,NaN,NaN

In [17]:
#Δολοφονίες trans α΄τομων στην Ελλάδα
countries = df[df.Country=='Greece']
countries.head()

,Name,Age,Occupa+on,Date of death,City,Country,Loca+on of death,Cause of death,Remarks,Observaciones,Sources,NaN,NaN,NaN
4241,Kalogiannis,64,not reported,09/04/2021,Athens,Greece,street,run-over by car,later when the police were,policía tuvo que ser instada a,dimitra-kalogiannis_athens-attica-greece_bf37bf57,NaN,NaN,NaN
4309,Kalogiannis,64,not reported,09/04/2021,Athens,Greece,street,run-over by car,later when the police were,policía tuvo que ser instada a,dimitra-kalogiannis_athens-attica-greece_bf37bf57,NaN,NaN,NaN

In [18]:
#Δολοφονίες trans α΄τομων στο Μαλάουι 
countries = df[df.Country=='Malawi']
countries.head()

,Name,Age,Occupa+on,Date of death,City,Country,Loca+on of death,Cause of death,Remarks,Observaciones,Sources,NaN,NaN,NaN
6039,Grace Mahoro,not,not reported,03/07/2021,NaN,Malawi,not reported,beaten,by news outlets and we know very,informado por los medios de,NaN,NaN,NaN,NaN
6107,Grace Mahoro,not,not reported,03/07/2021,NaN,Malawi,not reported,beaten,by news outlets and we know very,informado por los medios de,NaN,NaN,NaN,NaN

In [19]:
#Δολοφονίες trans α΄τομων στο Καζακστάν
countries = df[df.Country=='Kazakhstan']
countries.head()

,Name,Age,Occupa+on,Date of death,City,Country,Loca+on of death,Cause of death,Remarks,Observaciones,Sources,NaN,NaN,NaN
5896,Dzhakonda,not,not reported,21/06/2021,Nur-Sultan,Kazakhstan,park/public square/,stabbed,"incision was more than 15 cm, and","más de 15 cm, y el corte era",TvT partner organisation: Alma-TQ,NaN,NaN,NaN
5951,Dzhakonda,not,not reported,21/06/2021,Nur-Sultan,Kazakhstan,park/public square/,stabbed,"incision was more than 15 cm, and","más de 15 cm, y el corte era",TvT partner organisation: Alma-TQ,NaN,NaN,NaN

In [26]:
#Δολοφονίες ανηλίκων trans α΄τομων
ages = df[df.Age<'18']
ages.head()

,Name,Age,Occupa+on,Date of death,City,Country,Loca+on of death,Cause of death,Remarks,Observaciones,Sources,NaN,NaN,NaN
7,Marcos,17,not reported,04/10/2020,Ciudad De\nMexico,Mexico,own residence,stabbed,Marcos was stabbed during an\nargument with hi...,Marcos fue apuñalado durante un\nenfrentamient...,Trans lives matter & https://tdor.translivesma...,NaN,NaN,NaN
9,Paolla Bueno,17,not reported,05/10/2020,São Paulo,Brazil,own residence,stabbed,brother and her stepmother from,siete años y a su madrastra de un,2020/10/06/jovem-trans-de-17-anos-morta-a-faca...,NaN,NaN,NaN
62,Paolla Bueno,17,not reported,05/10/2020,São Paulo,Brazil,own residence,stabbed,brother and her stepmother from,siete años y a su madrastra de un,2020/10/06/jovem-trans-de-17-anos-morta-a-faca...,NaN,NaN,NaN
874,Paquita Brasil,17,sex worker,17/11/2020,Manaus,Brazil,beach/shore/river/,smoke,alleged client that he would have,se habría mantenido relaciones,noticias/corpo-de-travesti-e-encontrado-asfixi...,NaN,NaN,NaN
927,Paquita Brasil,17,sex worker,17/11/2020,Manaus,Brazil,beach/shore/river/,smoke,alleged client that he would have,se habría mantenido relaciones,noticias/corpo-de-travesti-e-encontrado-asfixi...,NaN,NaN,NaN